body{
    overflow: hidden;
    box-sizing: border-box;
}
.navbar{
    background: #246d52;
    text-transform: uppercase;


}
.container{
    position:absolute;
    display: flex;
    color:#22d694;
}