body{
    background-color: rgb(255, 25, 25);
    color: #7dfac8;
}
.cards-cr{
    display: inline-table;
    flex: 0 0 auto;
    width: 33.33333333%;
    position: relative;
}
.cards{
    box-shadow: 12px 8px 4px gray;

}
.cards:hover{
    color:aqua;

}